
/*
** Screen Notice
*/
.fullScreenContainer { position:absolute; top:0px; right:0px; bottom:0px; left:0px; }
#imScreenNoticeBackground { background-color:#000; opacity:0.60; filter:alpha(opacity=40); z-index:98; }
#imScreenNotice { position:absolute; left:50%; top:50%; width:500px; margin:-100px 0 0 -250px; text-align:center; font-size:1.5em; font-style:italic; color:White; }

/*
** General
*/
.imContainer { z-index:2; position:absolute; background-color:White; }
.imToolSpacer { float:right; width:15px; height:5px; }

/*
** Map
*/
#imMap { }
#imMapTitle { float:left; font-size:1.2em; margin:3px 8px; font-weight:bold; }
#imTools { }
#imTools a { float:right; margin:1px 3px 0px 0px; }

/*
** Details
*/
#imDetails { }
#imDetailsTitle { float:left; font-size:1.2em; margin:3px 8px; font-weight:bold; }

#imDetailContents { z-index:3; position:absolute; overflow:auto; background-color:White; }
#imDetailContents h1 { margin:0px; }
#imDetailContents h2 { margin:0px; }
#imDetailContents h3 { margin:0px; }
#imDetailContents h4 { margin:0px; }

/*
** Timeline
*/
#imTimeline { }

/*
** Controls
*/
.imIconbutton { background-color:#FFF; padding:5px; border:1px solid Gray; -moz-border-radius:10px; border-radius:10px; }
.imIconddl { background-color:#FFF; padding:2px 7px; border:1px solid Gray; -moz-border-radius:10px; border-radius:10px; }

.imEnabled { background-color:#FFF; }
.imEnabled.icon:hover { color:#0F0; }
.imEnabled.imIconbutton:hover { background-color:#AFA; }
.imEnabled.iconddl:hover { background-color:#AFA; }

.imDisabled { background-color:#AAA; }

/*
** Appearance
*/
.imHidden { display:none; }
.imClear { clear:both; }

/*
** Settings
*/
.settingsGroup { margin-top:15px; padding:5px 10px; }
.settingsGroup legend { margin-left:5px; font-style:italic; }
.settingsGroupSeperator { clear:both; height:2px; }








#imScreenNoticeBackground {
    background-color: #000;
    opacity: 0.60;
    filter: alpha(opacity=40);
    z-index: 98;
}
#imScreenNotice {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -250px; /* center on window */
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: White;
}


#imCanvasContainer {
    z-index: 2;
    position: absolute;
}

#imCanvasTools {
}

#imCanvasTools a, select {
    float: left;
    font-size: .9em;
    margin: 5px 0px 2px 5px;
}





#imTitle
{
    float:left;
    font-size:1.5em;
    font-weight:bold;
    margin:5px 0px 0px 15px;
}
#imDirections a
{
    float:right;
    font-size:.9em;
    margin:5px 5px 2px 0px;
}
#imCanvas
{
    overflow:hidden;
}


#imLeft
{
    position:absolute;
    top:30px;
    bottom:0px;
    left:-30px;
    width:30px;
}
#imLeft a
{
    position:absolute;
    top:33%;
    right:4px;
    font-size:30px;
}
#imLeft a:hover
{
    /*
    background-color:#AFA;
    */
}
#imRight
{
    position:absolute;
    top:30px;
    bottom:0px;
    right:-30px;
    width:30px;
}
#imRight a
{
    position:absolute;
    top:33%;
    left:4px;
    font-size:30px;
}
#imRight:hover
{
    /*
    background-color:#AFA;
    */
}





#ImageMapDetailsPanel
{
    position:absolute;
    xborder:1px solid Gray;
    /*
    -moz-top-left-border-radius:10px;
    border-top-left-radius:10px;
    -moz-top-right-border-radius:10px;
    border-top-right-radius:10px;
    */
    xbox-shadow: 1px 2px 5px #999;
}
#ImageMapDetailsTitle
{
    float:left;
    font-size:1.5em;
    font-weight:bold;
    margin:5px 5px 0px 15px;
}
#ImageMapDetailsTools
{
    border-bottom:1px solid #EEF;
}
#ImageMapDetailsTools a
{
    float:left;
    font-size:.9em;
    margin:5px 0px 2px 5px;
}
#ImageMapFormLinks a
{
    float:right;
    font-size:.9em;
    margin:5px 5px 2px 0px;
}

#ImageMapDetails
{
    margin:5px 5px 5px 5px;
    overflow:auto;
}
#ImageMapDetails h2
{
    margin:0px;
}
#ImageMapDetails h3
{
    margin:0px;
}

#ImageMapTimelinePanel
{
    position:absolute;
    xborder:1px solid Gray;
    /*
    -moz-top-left-border-radius:10px;
    border-top-left-radius:10px;
    -moz-top-right-border-radius:10px;
    border-top-right-radius:10px;
    */
    xbox-shadow: 1px 2px 5px #999;
}

#imDebug
{
    font-size:0.7em;
    line-height:1em;
    position:absolute;
    right:0px;
    bottom:0px;
    background-color:#FFD;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    height:300px;
    overflow:auto;
    padding:5px;
    border:1px dotted Gray;
    z-index:102;
}

#imDebugToggle
{
    color:gray;
    font-size:0.7em;
    line-height:1em;
    position:absolute;
    right:2px;
    bottom:2px;
    z-index:103;
}
#imDebugClear
{
    color:gray;
    font-size:0.7em;
    line-height:1em;
    position:absolute;
    right:25px;
    bottom:2px;
    z-index:103;
}